body {
  font-family: Calibri;
  font-size: 18px;
  padding: 0px;
}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

#parent > p,strong
{
  display:inline-block;

}
.displayprofile
{
  max-width: 700px;
  margin: 60px auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10%;
  background-color:rgb(242, 242, 242);
}
.success {
  background-color: #ddffdd;
}

.editsubmitprofile {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 10%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  left : calc(50% - 78px);
}
.editsubmitprofile:hover{
  background: rgb(39, 105, 0);
}

#userprofileh3
{
  text-align: center;
  text-decoration: underline;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}


.btn {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #45a049;
}

hr {
  border: 1px solid lightgrey;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}